body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #4682b4;
    text-align: center;
    padding: 20px 0;
    position: relative;
    color: #f0f0f0;
}

#modal-button {
    border: none;
    background: none;
}

#pesquisa-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#busca-input {
    width: 600px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
}

#modal-button {
    background-color: #4682b4;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 700%;
    margin-right: 0;
}

#modal-button span#filtrosAtivos {
    background-color: #ffffff;
    color: #2d76b7;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.8em;
    position: absolute;
    top: -10px;
    right: -10px;
}

#modal-button div {
    position: relative;

}

#buscar-noticia-termo button {
    position: absolute;
    background-color: white;
    border: none;
    padding: 5px;
    margin-top: 7px;
    left: 70%;
    cursor: pointer;
}

#dialog-filter {
    width: 35%;
    height: 30%;
}

#main {
    background-color: #f0f0f0;
}

#listaNoticias {
    list-style: none;
    padding: 0;
}

#listaNoticias li {
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#listaNoticias li img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

#listaNoticias li div {
    flex-grow: 1;
}

#listaNoticias h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
}

#listaNoticias p {
    margin: 0 0 5px;
    color: #666;
}

#listaNoticias a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0078d4;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

#listaNoticias button {
    border: none;
    background-color: #0078d4;
    color: white;
}

span{
    margin-top: 100px;
    margin-right: 10px;
}

#listaNoticias a:hover {
    background-color: #005fa3;
}

#lerMais {
    background-color: #0078d4;
    border: none;
}

/* Estilos da paginação */
#paginacao {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#paginacao li {
    margin: 0 5px;
}

#paginacao button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#paginacao button.active {
    background-color: #005fa3;
}

#paginacao button:hover {
    background-color: #005fa3;
}

#footer {
    background-color: #4682b4;
    color: #fff;
    padding: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: auto;
}